<a href="https://colab.research.google.com/github/Atarazona11/INST-414/blob/main/Assignment_3_MLS_Stats.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

import warnings
warnings.filterwarnings("ignore")

sns.set_theme(style='darkgrid')

In [ ]:
# Want to import the file from my downloads
from google.colab import files
uploaded = files.upload()

Saving epl2020.csv to epl2020 (1).csv

In [ ]:
# Open the CSV file to see how it looks.
df = pd.read_csv('epl2020.csv')

df.head()

,Unnamed: 0,h_a,xG,xGA,npxG,npxGA,deep,deep_allowed,scored,missed,...,AF.x,AC.x,AY.x,AR.x,B365H.x,B365D.x,B365A.x,HtrgPerc,AtrgPerc,matchDay
0,1,h,2.234560,0.842407,2.234560,0.842407,11,5,4,1,...,9,2,2,0,1.14,10.0,19.00,0.466667,0.416667,Fri
1,2,a,0.842407,2.234560,0.842407,2.234560,5,11,1,4,...,9,2,2,0,1.14,10.0,19.00,0.466667,0.416667,Fri
2,3,a,3.183770,1.200300,2.422640,1.200300,9,1,5,0,...,13,1,2,0,12.00,6.5,1.22,0.600000,0.642857,Sat
3,4,h,1.200300,3.183770,1.200300,2.422640,1,9,0,5,...,13,1,2,0,12.00,6.5,1.22,0.600000,0.642857,Sat
4,5,h,1.340990,1.598640,1.340990,1.598640,4,6,1,1,...,19,4,1,0,1.95,3.6,3.60,0.230769,0.375000,Sat

In [ ]:
df = df.sort_values(by='Unnamed: 0').reset_index(drop=True)
df.head()

,Unnamed: 0,h_a,xG,xGA,npxG,npxGA,deep,deep_allowed,scored,missed,...,AF.x,AC.x,AY.x,AR.x,B365H.x,B365D.x,B365A.x,HtrgPerc,AtrgPerc,matchDay
0,1,h,2.234560,0.842407,2.234560,0.842407,11,5,4,1,...,9,2,2,0,1.14,10.0,19.00,0.466667,0.416667,Fri
1,2,a,0.842407,2.234560,0.842407,2.234560,5,11,1,4,...,9,2,2,0,1.14,10.0,19.00,0.466667,0.416667,Fri
2,3,a,3.183770,1.200300,2.422640,1.200300,9,1,5,0,...,13,1,2,0,12.00,6.5,1.22,0.600000,0.642857,Sat
3,4,h,1.200300,3.183770,1.200300,2.422640,1,9,0,5,...,13,1,2,0,12.00,6.5,1.22,0.600000,0.642857,Sat
4,5,h,1.340990,1.598640,1.340990,1.598640,4,6,1,1,...,19,4,1,0,1.95,3.6,3.60,0.230769,0.375000,Sat

In [ ]:
# last row of data for this Kaggle Database
# Wanted to figure which one was the last row
df.iloc[575]

Unnamed: 0                      576
h_a                               h
xG                          2.41239
xGA                        0.672448
npxG                        1.65122
npxGA                      0.672448
deep                              8
deep_allowed                      2
scored                            4
missed                            0
xpts                          2.595
result                            w
date            2020-03-09 20:00:00
wins                              1
draws                             0
loses                             0
pts                               3
npxGD                      0.978772
teamId                    Leicester
ppda_cal                    5.37931
allowed_ppda              13.217391
matchtime                        20
tot_points                       53
round                            29
tot_goal                         58
tot_con                          28
Referee.x                  M Oliver
HS.x                             15
HST.x                             7
HF.x                             15
HC.x                              9
HY.x                              2
HR.x                              0
AS.x                              4
AST.x                             1
AF.x                             12
AC.x                              0
AY.x                              1
AR.x                              0
B365H.x                        1.36
B365D.x                        5.25
B365A.x                         8.0
HtrgPerc                   0.466667
AtrgPerc                       0.25
matchDay                        Mon
Name: 575, dtype: object

In [ ]:
df = pd.read_csv('epl2020.csv')

df = df.sort_values(by='Unnamed: 0').reset_index(drop=True)

team_info = df._get_numeric_data()


team_info

,Unnamed: 0,xG,xGA,npxG,npxGA,deep,deep_allowed,scored,missed,xpts,...,AST.x,AF.x,AC.x,AY.x,AR.x,B365H.x,B365D.x,B365A.x,HtrgPerc,AtrgPerc
0,1,2.234560,0.842407,2.234560,0.842407,11,5,4,1,2.3863,...,5,9,2,2,0,1.14,10.00,19.00,0.466667,0.416667
1,2,0.842407,2.234560,0.842407,2.234560,5,11,1,4,0.4405,...,5,9,2,2,0,1.14,10.00,19.00,0.466667,0.416667
2,3,3.183770,1.200300,2.422640,1.200300,9,1,5,0,2.6312,...,9,13,1,2,0,12.00,6.50,1.22,0.600000,0.642857
3,4,1.200300,3.183770,1.200300,2.422640,1,9,0,5,0.2522,...,9,13,1,2,0,12.00,6.50,1.22,0.600000,0.642857
4,5,1.340990,1.598640,1.340990,1.598640,4,6,1,1,1.0172,...,3,19,4,1,0,1.95,3.60,3.60,0.230769,0.375000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
571,572,0.445922,2.028830,0.445922,2.028830,3,9,0,4,0.2901,...,1,10,1,2,0,1.80,3.90,4.20,0.647059,0.333333
572,573,0.585469,1.738900,0.585469,1.738900,2,3,0,2,0.3539,...,2,9,11,4,0,5.00,4.33,1.60,0.500000,0.285714
573,574,1.738900,0.585469,1.738900,0.585469,3,2,2,0,2.4269,...,2,9,11,4,0,5.00,4.33,1.60,0.500000,0.285714
574,575,0.672448,2.412390,0.672448,1.651220,2,8,0,4,0.2673,...,1,12,0,1,0,1.36,5.25,8.00,0.466667,0.250000
575,576,2.412390,0.672448,1.651220,0.672448,8,2,4,0,2.5950,...,1,12,0,1,0,1.36,5.25,8.00,0.466667,0.250000

In [ ]:
manu_tie_info = [team_info.iloc[452]]

In [ ]:
from sklearn.metrics import pairwise_distances

similarity_score = pairwise_distances(manc_win_info, team_info)

In [ ]:
team_name = df["teamId"].to_list()

similarity_list = similarity_score.tolist()


flat_similarity_list = []
for sublist in similarity_list :
  for item in sublist:
   flat_similarity_list.append(item)
flat_similarity_list

In [ ]:
team_name = df["teamId"].to_list()

In [ ]:
dictionary = dict(zip(team_name, flat_similarity_list))
print(dictionary)

{'Liverpool': 390.737966341475, 'Norwich': 390.9754487457722, 'Man City': 402.81545768249117, 'West Ham': 394.7006116443191, 'Bournemouth': 385.400627918195, 'Brighton': 387.06920861621984, 'Burnley': 396.32445191286064, 'Crystal Palace': 387.73209546048304, 'Everton': 400.4808867833359, 'Sheffield United': 390.39882751464194, 'Southampton': 393.3284101816223, 'Watford': 393.1728479627764, 'Aston Villa': 404.12191410126366, 'Tottenham': 398.12953704876463, 'Arsenal': 385.8521670203671, 'Leicester': 404.7185590411499, 'Newcastle United': 388.98386498680367, 'Wolves': 395.7241139219808, 'Chelsea': 399.5524037210989, 'Man Utd': 401.3774192732359}

In [ ]:
sorted_dict = dict( sorted(dictionary.items(),
                           key=lambda item: item[1],
                           reverse=False))

dict_items = sorted_dict.items()

five_most_similar = list(dict_items)[:5]
for key,value in five_most_similar:
  print(key , value)

Bournemouth 385.400627918195
Arsenal 385.8521670203671
Brighton 387.06920861621984
Crystal Palace 387.73209546048304
Newcastle United 388.98386498680367

In [ ]:
team_info.iloc[56]